{% extends "./base.html" %}
{% block title %} Global Temperature Tracking{% endblock %}
{% block style %}
      <style>
            .conta{
            background-image: none;
            background-color: #99CCFF;
           
            }
            .conta::after{
            background-color: white;
            max-width:1500px;
            }
      </style>
{% endblock %}
{% block content %}

<div id="chart-wrapper" style="background-color:white">
<canvas id="myChart"></canvas>
      <input id="button" type="button" value="change chart type" style="margin-bottom:10px; margin-top:10px;  margin-left:45%">
    <p style=" color:black; margin-left:30% "> *Click on change chart type button to change the chart from bar to line and vice versa</p>

</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type= 'text/javascript'>
const ctx = document.getElementById('myChart').getContext('2d');
const button = document.getElementById("button");

//creating chart element
let chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ['2023-05-05', '2023-05-04', '2023-05-03', '2023-05-02', '2023-05-01', '2023-04-30', '2023-04-29', '2023-04-28', '2023-04-27', '2023-04-26', '2023-04-25', '2023-04-24', '2023-04-23', '2023-04-22'],
          datasets: [{
              label: 'Number of orders made by customers per day for past 2 weeks ',
              borderColor: 'rgb(34,139,34)',
              backgroundColor: "rgb(34,139,34)",
              fill: false,
              data: {{dataset}}
                  }]
            },
        options: {
            responsive: true,
            scales: {
                    xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Dates',
                                fontSize: 30
                              }
                            }],
                    yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Order quantity',
                                fontSize: 30
                              }
                            }]

                    }
             }
});

      // To change the chart type dynamically
      button.addEventListener("click", () => {
        chart.config.type = chart.config.type === "line" ? "bar" : "line";
        chart.update();
      });
</script>
{%endblock%}
