{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold" style="color:blue"><u><i>Desi Mart</i></u></h1>
        <h2 class="h2 fw-bold" >Search, Add, Order</h2>
        <p class=" fw-bold" style="color: rgba(255,255,255, 1)">Desi mart brings all the indian products to your doorstep. Order now to make the spicy butter chicken.</p>
        <p>
          <a href="{% url 'desi_mart:products' %}" class="btn btn-primary my-2">View all products</a>
        </p>
      </div>
    </div>
  </section>



</main>

{% endblock %}