{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Congratulations !!!</h1>
        <p class="lead " style="color:white"> Your order has been placed successfully!!</p>
        <p>
          <a href="/" class="btn btn-primary my-2">Back to Homepage</a>
        </p>
      </div>
    </div>
  </section>



</main>

{% endblock %}