{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">Results</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
           <a class="text-dark text-decoration-none" href="{% url 'desi_mart:product_detail' product.id %}"> <img class="img-fluid" alt="Responsive image" src="{{ product.imageLink}}">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{% url 'desi_mart:product_detail' product.id %}">{{ product.title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">£{{ product.discount_price }}</small>
                <button type="button" onclick="location.href='{% url 'desi_mart:product_detail' product.id %}'" class="btn btn-primary btn-sm">view details</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}